<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BaseApiBilling" value="http://dev.smart-ics.com:8083/emr-billing-api/" />
    <add key="BaseApiDataSosial" value="http://dev.smart-ics.com:8083/Datasosial-Api/" />
    <add key="BaseApiEmr2" value="http://dev.smart-ics.com:8083/emr20-api/" />
    <add key="BaseApiEmr25" value="" />
    <add key="BaseUrlWrapperBPJS" value="http://dev.smart-ics.com:222/asuws_aptol/vclaimv2.asmx" />
    <!--=============================================================================================-->
    <add key="KodeRS" value="3216274" />
    <add key="ProjectID" value="RSICS" />
    <add key="PpkPelayanan" value="0137R016" />
    <!--Kode PPK Pelayanan BPJS-->
    <add key="NamaRS" value="RS HARAPAN BARU" />
    <add key="AlamatRS" value="Jl. Tino Sidin, Yogyakarta" />
    <add key="TelpRS" value="Phone (0274) 550060" />
    <add key="MottoRS" value="" />
    <add key="ImgLogoLocation" value="C:\ICS\HiDok\asset\HeaderRS.jpg" />
    <add key="IconBPJS" value="asset\bpjs.png" />
    <add key="IconNonBPJS" value="asset\nonBpjs.png" />
    <add key="AssetPath" value="C:\ICS\HiDok" />
    <add key="PrinterAntrian" value="PDF Writer - bioPDF" />
    <add key="PrinterAntrianLoket" value="PDF Writer - bioPDF" />
    <!--=============================================================================================-->
    <add key="TemplateAntrian" value="0" />
    <!--0 : disable, 1 : enable -> jika cetak menggunakan template C:\ICS\templates\AntrianPoli.btw + C:\ICS\templates\AntrianPendaftaran.btw ) -->
    <add key="CreateCetakSEP" value="1" />
    <!-- diisi 1 untuk create dan cetak sep di kiosk atau 0 jika tidak-->
    <add key="AutoUpdateTglKontrol" value="0" />
    <!-- diisi 1 untuk auto update tgl kontrol skdp jika ada rujukan aktif,  set 0 jika tidak auto update-->
    <!--=============================================================================================-->
    <!--EC-PM-8033-->
    <add key="PrinterDokumen" value="" />
    <!--dikosongi jika tidak mencetak dokumen lain dopdf v7-->
    <add key="PrinterLabel" value="PDF Writer - bioPDF" />
    <add key="PrinterSep" value="PDF Writer - bioPDF" />
    <!--HP LaserJet M101-M106-->
    <add key="jumCetakPoli" value="1" />
    <!--diisi dengan bilangan bulat(integer)-->
    <add key="jumCetakSep" value="1" />
    <!--diisi dengan bilangan bulat(integer)-->
    <add key="KeteranganPerawatanSep" value="0" />
    <!--cetak sep include keterangan perawatan RS-->
    <!--=============================================================================================-->
    <add key="RemoteAddresPrinterLabelMR" value="PC-MR;PC-FO;" />
    <!--bisa diisi lebih dari 1 remote address, dipisah ";" (eg. "PC-MR:PC-FO")-->
    <add key="RemoteCetakLabel" value="0" />
    <!-- diisi 1 jika cetak label (via remote cetak)-->
    <add key="RemoteCetakBuktiReg" value="0" />
    <!-- diisi 1 jika cetak bukti registrasi (via remote cetak)-->
    <add key="RemoteCetakSEP" value="0" />
    <!-- diisi 1 jika cetak SEP (via remote cetak)-->
    <add key="RemoteCetakPelayananBPJS" value="0" />
    <!-- diisi 1 jika cetak pelayanan BPJS (via remote cetak)-->
    <add key="RemoteCetakTracert" value="1" />
    <!-- diisi 1 jika cetak tracert (via remote cetak)-->
    <!--=============================================================================================-->
    <add key="CetakAntrianPoliDanDaftar" value="0" />
    <!--dicetak dua-duanya, diisi 1 atau 0 jika cuman salah satu-->
    <add key="HideCetakAntrianManualButton" value="true" />
    <!--default: true, jika ingin tampilkan manual button, value dikosongi -->
    <add key="HidePendaftaranBaruButton" value="" />
    <!--default: dikosongi-->
    <add key="PilihDokter" value="" />
    <!--default: dikosongi, jika tidak ingin ada pilih dokter, isikan "tidak"-->
    <add key="PetunjukNextPasienUmum" value="Ruang Tunggu Poli" />
    <!--Ruang Tunggu Poli, atau diisi tempat yg dituju pasien setelah dari kiosk-->
    <add key="PetunjukNextPasienBPJS" value="Ruang Tunggu Poli" />
    <!--Ruang Tunggu Poli, atau diisi tempat yg dituju pasien setelah dari kiosk-->
    <add key="PetunjukGagalSEP" value="Registrasi" />
    <!--Tempat Create SEP jika gagal create di kiosk-->
    <add key="GifAntrian" value="C:\ICS\HiDok\asset\kiosk antrian.gif" />
    <!--C:\ICS\HiDok\asset\kiosk antrian.gif-->
    <add key="GifSep" value="C:\ICS\HiDok\asset\kiosk sep.gif" />
    <!--C:\ICS\HiDok\asset\kiosk sep.gif-->
    <add key="PrinterResumeMedis" value="" />
    <!--HP LaserJet M101-M106  resume medis pasien BPJS, kosongi jika tidak mencetak-->
    <add key="TemplateResumeMedis" value="C:\\ICS\HiDok\asset\resumemedis.xlt" />
    <!--C:\ICS\HiDok\asset\resumemedis.xlt, template resume medis BPJS, kosongi jika tidak ada-->
    <add key="TemplateSEP" value="" />
    <!--C:\ICS\HiDok\asset\sep_casemix.xlt, template sep casemix, kosongi jika tidak ada-->
    <!--=============================================================================================-->
    <add key="KodeTipeJaminanBpjs" value="07101A;07201" />
    <!--tipe jaminan BPJS PBI, gunakan separator ; untuk multiple kode-->
    <add key="KodeTipeJaminanBpjsNonPbi" value="02001" />
    <!--tipe jaminan BPJS Non PBI, gunakan separator ; untuk multiple kode-->
    <add key="KodeTipeJaminanNonBpjs" value="00000" />
    <add key="NamaTipeJaminanNonBpjs" value="Umum / Asuransi Lain" />
    <add key="HideTipeJaminanLain1" value="true" />
    <!--jika ingin disembunyikan, isikan "true", jika tidak, dikosongi-->
    <add key="KodeTipeJaminanLain1" value="" />
    <!-- |pwd:tipe jaminan pemkab grobogan 02601| -->
    <add key="NamaTipeJaminanLain1" value="" />
    <!-- |pwd:tipe jaminan pemkab grobogan| -->
    <add key="NamaTipeJaminanLainEng1" value="" />
    <!-- |pwd:tipe jaminan pemkab grobogan| -->
    <add key="HideJaminanLainAsing" value="true" />
    <!--jika ingin disembunyikan, isikan "true", jika tidak, dikosongi-->
    <add key="KodeTipeJaminanAsing" value="" />
    <add key="MappingLayananJaminan" value="00111 02601;00112 02601;" />
    <!--khusus untuk mapping layanan tertentu dg jaminan tetentu, formatnya "kodeLayanan [spasi] kodetipeJaminan;" |pwd:layanan CST dan VCT dengan jaminan pemkab grobogan|, kosongi jika tidak ada -->
    <add key="MappingLayananKarcis" value="00025 25;00111 21;00112 16;" />
    <!--khusus untuk maping layanan tertentu dg karcis tertentu, formatnya "kodeLayanan [spasi] kodeKarcis;" |pwd:layanan CST dan VCT dengan karcis masing2|, kosongi jika tidak ada -->
    <add key="MappingJmnLayananKarcis" value="00000 00025 25;02001 00025 25;" />
    <!--khusus untuk mapping tipe jaminan tertentu di lyn tertentu dg karcis tertentu, formatnya "kode tipe jaminan [spasi] kodeLayanan [spasi] kodeKarcis;", kosongi jika tidak dipakai -->
    <add key="LayanansFinger" value="2RJ18" />
    <!--Finger BPJS format: "kodelayanan1;kodelayanan2;" dst tanpa spasi-->
    <add key="KodeCaraMasukDkBpjs" value="4" />
    <!--Kode Cara Masuk DK default jika kode ppk belum diisi di ta_rujukan-->
    <!--=============================================================================================-->
    <!--Antrian Daftar defult ada 3, jika dipakai 2, isian bisa disamakan dengan yg digabung antriannya-->
    <add key="KodeLayananPendaftaran" value="" />
    <add key="KodeLayananPendaftaranAsr" value="" />
    <add key="KodeLayananPendaftaranAsrLain" value="" />
    <add key="AntrianIDUmum" value="A" />
    <add key="AntrianIDAsr" value="GLOBAL B; LYN32 C;" />
    <!--ada 2 cara set AntrianIDAsr, [1] seperti biasa hanya satu huruf aja value nya, eg "B"; [2] di-mapping jika antriannya dipecah, GLOBAL antrianID; kode_layanan antrianID;eg: "GLOBAL B; LYN32 C;" -->
    <add key="AntrianIDAsrLain" value="B" />
    <add key="KodePetugasPendaftaran" value="KIOSK" />
    <!--default kodenya KIOSK-->
    <add key="KioskID" value="1" />
    <!--jika ada > 1 kiosk (pendaftaran/farmasi dll) default = 1 -->
    <add key="MaxTimeCheckIn" value="0" />
    <!--masimal waktu pelayanan pasien booking sebelum jam mulai praktek (dalam satuan menit) -->
    <add key="RejectOverJamPraktek" value="0" />
    <!--0 : disable, 1 : enable -> jika pasien booking datang setelah jam praktek dokter dimulai) -->
    <!--=============================================================================================-->
    <add key="KodeKarcisRJ" value="24" />
    <!--default, jika tidak perlu di-set, maka KodeKarcisRJxxxx samakan isinya dengan default ini-->
    <add key="KodeKarcisBPJSRJ" value="24" />
    <!--=============================================================================================-->
    <!--Kasus Purwodadi, jika tidak diperlukan, dikosongi-->
    <add key="KodeKarcisRJLab" value="08" />
    <add key="KodeKarcisRJRegUlangUmum" value="10" />
    <!--pasien umum yg balik lagi, biasanya tinggal ambil obat saja-->
    <add key="KodeKarcisRJKonsulSpesialis" value="22" />
    <!--pasien bpjs yg balik lagi untuk kontrol karena mungkin belum tuntas di kunjungan sebelumnya-->
    <add key="KodeKarcisRJKontrolFree" value="07" />
    <!--pasien layanan yg kontrol lagi, seperti di fisioterapi, karcisnya free -->
    <add key="KodeLayananKontrolFree" value="0003F" />
    <!--Kode Layanan yg kontrol selanjutnya free, misal kode layanan fisioterapi-->
    <!--=============================================================================================-->
    <!--Kasus di Bali, jika perlakuan sama, samakan dengan default karcis-->
    <add key="KodeKarcisAsingRJ" value="01" />
    <add key="KodeKarcisKitasRJ" value="01" />
    <!--=============================================================================================-->
    <!--Batas periode kontrol berikutknya pasien bpjs-->
    <add key="PeriodeHariKontrolBpjs" value="0" />
    <!--Finger Bpjs App Automation-->
    <add key="IntegrasiFingerBpjs" value="1" />
    <!--1: enable, 0: disable-->
    <add key="FingerscanWaitTimeout" value="30" />
    <!--waktu tunggu scan finger: satuan detik-->
    <add key="FingerAppUserName" value="cicifitria" />
    <!--disesuaikan untuk masing2 rs-->
    <add key="FingerAppPasswd" value="Sakina77?" />
    <!--disesuaikan untuk masing2 rs-->
    <add key="FingerAppExePath" value="" />
    <add key="FristaAppExePath" value="" />
    <!--=============================================================================================-->
    <add key="DebugBpjs" value="1" />
    <!--1: enable, 0: disable-->
    <add key="LogErrorAntrol" value="0" />
    <!--1: enable, 0: disable-->
    <!--=============================================================================================-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BackgroundImg" value="" />
    <!--C:\ICS\HiDok\asset\Hospital.bmp-->
    <add key="FontColor" value="White" />
    <add key="FontWarningColor" value="Yellow" />
    <add key="HeaderFooterColor" value="Maroon" />
    <add key="BodyColor" value="Firebrick" />
    <add key="DisabledPilihanBackColor" value="IndianRed" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.5.3.0" newVersion="106.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--DB Connect-->
    <add name="DefaultConnection" connectionString="Data Source=dev.smart-ics.com;Initial Catalog=hospital_pkl;User ID=hospitalx;Password=intersoftindo;" />
  </connectionStrings>
</configuration>